Repository SideStore/SideStore, pull requests merged in 2022-11, with the labels that each got.

#90 Update README.md
  README.md
Labels: documentation, enhancement

#72 Match branding some more
  .github/workflows/build.yml
  AltBackup/ViewController.swift
  AltStore.xcodeproj/project.pbxproj
  AltStore/App IDs/AppIDsViewController.swift
  AltStore/AppDelegate.swift
  AltStore/Authentication/Authentication.storyboard
  AltStore/Authentication/RefreshAltStoreViewController.swift
  AltStore/Base.lproj/Main.storyboard
  AltStore/Info.plist
  AltStore/LaunchViewController.swift
  AltStore/My Apps/MyAppsViewController.swift
  AltStore/Operations/OperationError.swift
  AltStore/Operations/Patch App/PatchViewController.swift
  AltStore/Settings/AboutPatreonHeaderView.xib
  AltStore/Settings/RefreshAttemptsViewController.swift
  AltStore/Settings/Settings.storyboard
  AltStore/Settings/SettingsViewController.swift
  AltStore/Sources/SourcesViewController.swift
  AltStoreCore/Model/Source.swift
  AltStoreCore/Model/StoreApp.swift
  AltWidget/AltWidget.swift
  Build.xcconfig
  Shared/Categories/NSError+ALTServerError.m
  Shared/Extensions/ALTApplication+AltStoreApp.swift
  app.json
Labels: user interface, conflict

#96 Change version to 1.0.0
  AltStore.xcodeproj/project.pbxproj
  Build.xcconfig
  app.json
Labels: dev-ops, user interface

#123 Change version on to reflect being pre-release
  AltStore.xcodeproj/project.pbxproj
  AltStoreCore/Model/Source.swift
  Build.xcconfig
  app.json
Labels: dev-ops, backend

#124 Update README to include rust specific build instructions
  README.md
Labels: documentation
